{% load static rate i18n %}
<div class="feedback">
    {% for feedback in feedbacks %}
        <div class="rating">
            {% stars feedback.rate %}<i><span> {{ feedback.name }} ({{ feedback.country }})</span><span> {{ feedback.created_at }}</span></i>
        </div>
        {{ feedback.text }}
        <hr/>
    {% empty %}
        {% trans "Здесь пока нет ни одного отзыва" %}
        <hr/>
    {% endfor %}
    {% if show_pagination %}
        {% for page_num in paginator.page_range %}

            {% ifequal page_num feedbacks.number %}
                <span class="page_num active_page_num"><span class="page_num">{{ page_num }}</span></span>
            {% else %}
                <span class="page_num"><span class="page_num"><a href="javascript:;" class="page_num_href"
                                                                 data-page="{{ page_num }}"
                                                                 data-flat="{{ flat.pk }}">{{ page_num }}</a></span></span>
            {% endifequal %}

        {% endfor %}
    {% endif %}
</div>