{% load static i18n %}
{#{% get_flatpages as flatpages %}#}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
{#    <link rel="icon" href="../../favicon.ico">#}

    <title>GomelHome.by</title>
    <link rel="icon" href="{% static "imgs/favicon.ico" %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static '3dparty/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{#    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">#}

    <!-- Custom styles for this template -->
    <link href="{% static 'base/css/base.css' %}?v=0" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
{#    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->#}
{#    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>#}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
  {% block add_header_js %}
      {% endblock %}
      {% block add_header_css %}
      {% endblock %}
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GomelHome.by</a>
          <a class="navbar-brand lang_change" data-lang="ru" href="javascript:;">{% ifequal LANGUAGE_CODE 'ru'%}<strong>RU</strong>{% else %}RU{% endifequal %}</a>
          <a class="navbar-brand lang_change" data-lang="en"  href="javascript:;">{% ifequal LANGUAGE_CODE 'en'%}<strong>EN</strong>{% else %}EN{% endifequal %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <form id="lang_change_form" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" id="lang_change_form_next" type="hidden" value="{{ request.path }}"/>
            <input id="lang_change_form_input" name="language" type="hidden" value=""/>
        </form>
          <ul class="nav navbar-nav navbar-right">

              <li {% ifequal page 'feedbacks' %}class="active"{% endifequal %}><a href="{% url 'feedbacks_list' %}">{% trans 'Отзывы' %}</a></li>
              <li {% ifequal page 'flats' %}class="active"{% endifequal %}><a href="/">{% trans 'Квартиры на сутки' %}</a></li>
              <li {% ifequal request.path '/about_us/' %}class="active"{% endifequal %}><a href="{% url 'about_us' %}">{% trans 'О нас' %}</a></li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">

        {% block body %}
      <!-- Main component for a primary marketing message or call to action -->

        {% endblock %}

    </div> <!-- /container -->
    <br>
    <br>
    <br>
    <br>
    <br>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static '3dparty/jq/jquery-1.11.3.min.js' %}" type="text/javascript"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static '3dparty/bootstrap-3.3.6-dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $('.lang_change').click(function(){
            $('#lang_change_form_input').val($(this).data('lang'));
            var lang = $(this).data('lang');
            var next = $('#lang_change_form_next').val();
            next=next.replace('/ru/','/'+lang+'/').replace('/en/','/'+lang+'/');
            $('#lang_change_form_next').val(next);
            $('#lang_change_form').submit();
        });

    </script>

    {% block extra_footer_scripts %}

    {% endblock %}

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{#    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>#}
  </body>
</html>
