{% extends 'base.html' %}
{% load static fb_versions %}
{% block body %}

    <div class="col-md-9">
        {% for flat in object_list %}
            <div class="flat row">
                <div class="col-sm-7 list_photo">
                    <img src="{% version flat.image 'big' %}"/>
                </div>
                <div class="col-sm-5 list_text">
                    <a class="flat_list_header" href="{% url 'flat_detail' flat.slug %}"><h4>{{ flat.title }}</h4></a>
                    Price: (80.000 BYR)(~52usd)
{#                    <table class="table table-striped table-hover">#}
{#                        {% for feature in flat.features.all %}#}
{#                        <tr><th>{{ feature.name }}</th><td><img class="arial" src="{% static 'imgs/arial.png' %}" /></td></tr>#}
{#                        {% endfor %}#}
{#                    </table>#}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-3 text-left">
        {% include 'include/right_panel.html' %}

    </div>
{% endblock %}