{% extends 'base.html' %}
{% load static fb_versions i18n %}
{% block body %}

    <div class="col-md-9">
    <h2>Квартиры на сутки в Гомеле:</h2>
        {% for flat in object_list %}
            <div class="flat row">
                <div class="col-sm-7 list_photo">
                    <a href="{% url 'flat_detail' flat.slug %}"><img src="{% version flat.image 'big' %}"/></a>
                </div>
                <div class="col-sm-5 list_text">
                    <div class="description">
                        <div>
                            <span class="desc_param room_count"> {{ flat.rooms }} комн.</span>
                            <a class="flat_list_header" href="{% url 'flat_detail' flat.slug %}">
                                <h4>{{ flat.title }}</h4>
                            </a>
                            <span class="desc_param district"> {{ flat.district }}</span><br>
{#                            <strong>{% trans "Цена" %}:</strong>#}
                            <div class="flat_price_cont">
                            <span class="pr_byr"> {{ flat.price_byr }} BYR </span>
                            <span class="pr_usd"> ~{{ flat.price_usd }} usd </span><br>
                            </div>

                        </div>
                        <div>
                            <div class="desc_param">
                                {{ flat.short_description|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div><br/><br/>
        {% endfor %}
    </div>
    <div class="col-md-3 text-left">
        {% include 'include/right_panel.html' %}
    </div>
{% endblock %}