{% extends 'base.html' %}
{% load static fb_versions i18n %}
{% block body %}

    <div class="col-md-9">
        {% for flat in object_list %}
            <div class="flat row">
                <div class="col-sm-7 list_photo">
                    <img src="{% version flat.image 'big' %}"/>
                </div>
                <div class="col-sm-5 list_text">
                    <div class="description">
                        <div>
                            <a class="flat_list_header" href="{% url 'flat_detail' flat.slug %}">
                                <h4>{{ flat.title }}</h4>
                            </a>
                            <strong>{% trans "Цена" %}:</strong>
                            <span class="pr_byr"> {{ flat.price_byr }} BYR </span>
                            <span class="pr_usd"> ~{{ flat.price_usd }} usd </span><br>
                            <strong>{% trans "Район" %}:</strong><span class="desc_param"> {{ flat.district }}</span><br>
                            <strong>{% trans "Комнат" %}:</strong><span class="desc_param"> {{ flat.rooms }}</span><br>
                        </div>
                        <div>
                            <strong>{% trans "Информация" %}:</strong>
                            <div class="desc_param">
                                {{ flat.description|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-3 text-left">
        {% include 'include/right_panel.html' %}
    </div>
{% endblock %}