body {
    /*min-height: 2000px;*/
}

.navbar-static-top {
    margin-bottom: 19px;
}

.flat {
    background-color: rgba(226, 255, 233, 0.73);
    border-color: rgba(107, 183, 109, 0.33);
    border-style: solid;
    border-width: 2px;
    width: 100%;
    min-height: 200px;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-radius: 15px;
    overflow: hidden;
}
.feedback{
    background-color: rgba(226, 255, 233, 0.73);
    border-color: rgba(107, 183, 109, 0.33);
    border-style: solid;
    border-width: 2px;
    width: 100%;
    min-height: 60px;
    display: inline-block;
    padding: 20px 20px;
    margin-top: 10px;
    border-radius: 15px;
    overflow: hidden;
}
.flat img{
    /*width: 100%;*/
    max-height: 100%;
}

.flat div{
    padding-left: 0;
}


.flat_list_header{
    color: #080808;
    font-size: 16pt;
    font-weight: bolder;
    text-decoration: underline;
}

.flat img.arial{
    height: 25px;
    width: 30px;
}

.operator{
    width: 16px;
}

.list_photo{
    overflow: hidden;
}
.list_text{
    padding-left: 15px !important;
}

.rating .star,.rating-symbol-foreground{
    color: #ff8e00;
}
.rating-symbol-foreground{
    cursor: pointer;
}

textarea{
    width: 100% !important;
    min-height: 100px;
}

.msg-comment{
    min-height: 30px;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    border-radius: 7px;
    display: none;
}


.navbar-default {
    background-color:#4BA05A;
    border-color: #3a7641;
}
.nav li.active a{
    background-color:#65CA77 !important;
}
.navbar-brand,.nav a{
    color: #1D0707 !important;
}
.galleria-container {
    background-color:rgba(107, 183, 109, 0.33) !important;
    border-color: rgba(107, 183, 109, 0.33) !important;
    border-radius: 8px;
}


.btn-primary{
     background-color:#1E6D2B;
     border-color: #1a6027;
}

.btn-primary:hover{
    background-color: #2b973c;
}
.btn-primary:focus{
    background-color: #2b973c;
}
.btn-primary:active,.btn-primary.active{
    background-color: #005b18 !important;
}



.footer_icons{
    margin-top: 15px;

}

.pr_byr{
    font-weight: bolder;
    font-size: 15pt;
}
.pr_usd{
    font-weight: bolder;
    font-size: 11pt;
    color: darkgray;

}
.desc_param{
    font-style: italic;
}

.datepicker table tr td.highlighted {
    background: rgba(107, 183, 109, 0.33) !important;
    border-radius: 0;
}

/*.list_text{*/
    /*position: relative;*/
/*}*/