body {
    /*min-height: 2000px;*/
}

.navbar-static-top {
    margin-bottom: 19px;
}

.flat {
    background-color: rgba(231,  240,235, 0.4);
    border-color: rgb(220, 229, 224);
    border-style: solid;
    border-width: 2px;
    width: 100%;
    min-height: 200px;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-radius: 5px;
    overflow: hidden;
}
.feedback{
    width: 100%;
    min-height: 60px;
    display: inline-block;
    padding: 20px 0;
    /*margin-top: 10px;*/
    border-radius: 5px;
    overflow: hidden;
}
.flat img{
    /*width: 100%;*/
    max-height: 100%;
}

.flat div{
    padding-left: 0;
}


.flat_list_header{
    color: #080808;
    font-size: 16pt;
    font-weight: bolder;
    text-decoration: underline;
}

.flat img.arial{
    height: 25px;
    width: 30px;
}

.operator{
    width: 16px;
}

.list_photo{
    overflow: hidden;
}
.list_text{
    padding-left: 15px !important;
}

.rating .star,.rating-symbol-foreground{
    color: #ff8e00;
}
.rating-symbol-foreground{
    cursor: pointer;
}

textarea{
    width: 100% !important;
    min-height: 100px;
}

.msg-comment{
    min-height: 30px;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    border-radius: 7px;
    display: none;
}


.navbar-default {
    background-color:rgb(73, 153,119);
    border-color: rgb(58, 116, 88);
}
.nav li.active a{
    background-color: rgb(91, 206, 168) !important;
}
.navbar-brand,.nav a{
    color: #1D0707 !important;
}
.galleria-container {
    background-color: rgb(231,  240,235) !important;
    border-color: rgb(208, 217, 212) !important;
    border-radius: 8px;
}


.btn-primary{
     background-color:rgb(58, 116, 88);
     border-color: #1a6027;
}

.btn-primary:hover{
    background-color: rgb(67, 150, 118);
}
.btn-primary:focus{
    background-color: rgb(67, 150, 118);
}
.btn-primary:active,.btn-primary.active{
    background-color: rgb(67, 150, 118) !important;
}



.footer_icons{
    margin-top: 15px;

}

.pr_byr{
    font-weight: bolder;
    font-size: 15pt;
}
.pr_usd{
    font-weight: bolder;
    font-size: 11pt;
    color: darkgray;

}
.desc_param{
    /*font-style: italic;*/
}
.desc_param.district,.flat_price_cont {
    position: relative;
    top: -0.33em;
}


.datepicker table tr td.highlighted {
    background: rgba(107, 183, 109, 0.33) !important;
    border-radius: 0;
}

.page_num{
    min-width: 20px;
    display: inline-block;
    text-align: center;
}
.active_page_num{
    background: rgba(91, 206, 168, 0.5);
}
.nav li:hover{
    background: rgba(91, 206, 168, 0.5);
}
.flat_list_header h4{
    margin-bottom: 0;
}
.flat_price_cont{
    margin: 5px 0;
}

.room_count{
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: rgb(58, 116, 88);
    border-radius: 2px;
    padding: 3px;
    color: white;
}
.header_no_margim{
    margin-top: 0;
}

/*.list_text{*/
    /*position: relative;*/
/*}*/